<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="queue">Ryan's Bank</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="queue">Queue </a></li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a routerLink="login">Login </a></li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn()"><a routerLink="register">Register </a></li>
        <li routerLinkActive="active"><a routerLink="admin" >Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="isLoggedIn()"><a (click)="logout()" style="cursor:pointer">Logout</a></li>
        <!-- <li><a (click)="findUser()" style="cursor:pointer">Find User</a></li> -->
        <li *ngIf="user"><a>{{user.firstName}}</a></li>
      </ul>
    </div>
  </div>
</nav>
